@import "../css/fonts.css";
@import "../css/pure-min.css";
@import "../css/grids-responsive-min.css";
@import "../css/slick.css";
@import "../css/jquery.formstyler.css";
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
body,
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Verdana', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #343434;
  background: #fff;
  min-width: 320px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pure-g [class*="pure-u"],
.pure-g {
  font-family: 'Verdana', sans-serif;
}
.pure-g {
  margin-left: -10px;
  margin-right: -10px;
}
.pure-g [class*="pure-u"] {
  padding-left: 10px;
  padding-right: 10px;
}
.pure-g.pure-no-padding {
  margin-left: 0;
  margin-right: 0;
}
.pure-g.pure-no-padding [class*="pure-u"] {
  padding-left: 0;
  padding-right: 0;
}
.pure-middle [class*="pure-u"] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.pure-middle .pure-inner {
  margin: auto;
  width: 100%;
}
.slick-slider * {
  outline: 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 0 12px;
}
.hidden {
  display: none!important;
}
.text_center {
  text-align: center;
}
.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}
.text_uppercase {
  text-transform: uppercase;
}
.text_gray {
  color: #808080;
}
.text_red {
  color: #ff2d2d;
}
.text_yellow {
  color: #fbce73;
}
.rub {
  font-family: 'ALS Rubl';
}
h1,
.h1 {
  display: block;
  margin: 46px 0 13px;
  font-size: 46px;
  font-weight: 400;
  line-height: 1.2;
}
h2,
.h2 {
  display: block;
  margin: 16px 0 24px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
}
h3,
.h3 {
  display: block;
  margin: 19px 0 17px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
.sub-title {
  display: block;
  font-size: 20px;
  margin: 0 0 43px;
  color: #808080;
}
.link {
  color: #347fc4;
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
}
@media (max-width: 1023px) {
  h1,
  .h1 {
    margin: 30px 0 15px;
    font-size: 40px;
  }
  h2,
  .h2 {
    font-size: 30px;
    margin: 20px 0;
  }
  .sub-title {
    margin: 0 0 30px;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  h1,
  .h1 {
    margin: 20px 0 15px;
    font-size: 30px;
  }
  h2,
  .h2 {
    font-size: 25px;
  }
  .sub-title {
    margin: 0 0 25px;
    font-size: 16px;
  }
}
@media (max-width: 567px) {
  h1,
  .h1 {
    font-size: 25px;
  }
  .sub-title {
    margin: 0 0 20px;
    font-size: 14px;
  }
}
#header {
  padding: 0 0 11px;
}
.header__top {
  background: #f7f7f7;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 0 2px;
  margin: 0 0 20px;
}
.header__nav {
  display: block;
  padding: 0;
  margin: 0 -21px;
  list-style: none;
}
.header__nav-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 17px;
}
.header__nav-link {
  display: block;
  padding: 5px;
  color: #343434;
  text-decoration: none;
  font-size: 14px;
}
.header__nav-link:hover {
  text-decoration: underline;
}
.header__controls {
  display: block;
  text-align: right;
  margin: 0 -19px;
}
.header__controls-item {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  color: #343434;
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  margin: 0 13px;
}
.header__controls-item:hover {
  text-decoration: underline;
}
.header__controls-icon {
  display: inline-block;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}
.header__logo {
  display: inline-block;
  vertical-align: middle;
  width: 239px;
  height: 70px;
  background: url('images/logo.png') no-repeat left center;
  background-size: contain;
  margin: 0 5px 0 0;
  float: left;
  max-width: 50%;
}
.header__location {
  display: inline-block;
  vertical-align: middle;
  margin: 25px 2px;
  letter-spacing: 0.5px;
  float: right;
}
.header__location label {
  display: block;
}
.header__location-select.jq-selectbox {
  display: inline-block;
  vertical-align: middle;
  margin: -4px 0 0 -6px;
  cursor: pointer;
  letter-spacing: normal;
}
.header__location-select.jq-selectbox.opened .jq-selectbox__trigger-arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.header__location-select.jq-selectbox .jq-selectbox__select {
  display: block;
  padding: 5px 15px 5px 5px;
}
.header__location-select.jq-selectbox .jq-selectbox__select-text {
  display: block;
  color: #2d78b8;
  font-size: 15px;
  border-bottom: 1px dashed #2d78b8;
  white-space: nowrap;
  width: auto!important;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.header__location-select.jq-selectbox .jq-selectbox__trigger-arrow {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  width: 7px;
  height: 4px;
  margin: -2px 0 0 0;
  background: url('images//icons/carret_bottom_sm.png') no-repeat center;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.header__location-select.jq-selectbox .jq-selectbox__dropdown {
  display: block;
  background: #fff;
  min-width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.header__location-select.jq-selectbox .jq-selectbox__dropdown ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__location-select.jq-selectbox .jq-selectbox__dropdown li {
  display: block;
  background: #fff;
  padding: 3px 5px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header__location-select.jq-selectbox .jq-selectbox__dropdown li:hover {
  background: #f7f7f7;
}
.header__phone-block {
  display: block;
  text-align: right;
  padding: 4px 0;
}
.header__phone {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 28px 5px 0;
}
.header__phone-item {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  white-space: nowrap;
}
.header__phone-item:hover {
  text-decoration: underline;
}
.header__phone-btn {
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 1023px) {
  .header__nav {
    margin: 0 -10px;
  }
  .header__nav-item {
    margin: 0 5px;
  }
  .header__phone {
    margin: 5px 15px 5px 0;
  }
  .header__phone-item {
    font-size: 15px;
  }
  .header__top {
    margin: 0 0 5px;
  }
  .header__phone-block {
    padding: 12px 0;
  }
  .header__location,
  .header__logo {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  .header__location {
    margin: 25px 0;
  }
}
@media (max-width: 767px) {
  .header__nav,
  .header__controls {
    text-align: center;
  }
}
@media (max-width: 567px) {
  #header,
  .header__phone-block {
    text-align: center;
  }
  .header__location {
    margin: 10px 0;
  }
  .header__phone {
    margin: 5px 10px;
  }
  .header__nav-link {
    font-size: 13px;
    padding: 5px 3px;
  }
  .header__nav-item {
    margin: 0;
  }
}
#footer {
  display: block;
  overflow: hidden;
  color: #fff;
  background: #808080;
  padding: 0 0 18px;
}
.footer__nav-row {
  padding: 36px 0 7px;
  background: #f1f1f1;
  color: #343434;
  margin: 0 0 36px;
  text-align: left;
}
.footer__title {
  font-weight: 700;
  margin: 10px 0 15px;
}
.payment {
  display: block;
  margin: 0 20px 15px -1px;
}
.payment__item {
  display: inline-block;
  vertical-align: middle;
  margin: 1px 1px 7px;
}
.footer__menu {
  display: block;
  padding: 0;
  margin: 0 0 35px;
  list-style: none;
}
.footer__menu-link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 15px;
  padding: 4px 0;
  line-height: 1.5;
}
.footer__menu-link:hover {
  text-decoration: underline;
}
.footer__phone-block {
  display: block;
  text-align: right;
  margin: 9px -13px 24px;
}
.footer__phone {
  display: inline-block;
  vertical-align: middle;
  margin: 4px 13px 5px 13px;
}
.footer__phone-item {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0 0 2px;
}
.footer__phone-item:hover {
  text-decoration: underline;
}
.footer__phone-btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 13px;
}
.footer__details {
  display: block;
  font-size: 15px;
  color: #c0c0c0;
  line-height: 1.6;
  margin: 0 0 20px;
}
.footer__details p {
  margin: 0;
}
.footer__vidjet {
  margin: 0 0 20px;
  text-align: right;
}
.footer__socials {
  display: block;
  margin: 0 -2px 12px;
}
.footer__socials-item {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  margin: 0 2px 8px 3px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #bcbcbc;
  text-align: center;
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer__socials-item:hover {
  border: 1px solid #f5b32e;
}
.footer__socials-item:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.footer__socials-item:hover .footer__socials-icon {
  -webkit-filter: invert(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='invert'><feComponentTransfer><feFuncR type='linear' slope='-1' intercept='1'/><feFuncG type='linear' slope='-1' intercept='1' /><feFuncB type='linear' slope='-1' intercept='1' /></feComponentTransfer></filter></svg>#invert");
  filter: invert(100%);
}
.footer__socials-item:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #f6bb45;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6bb45), to(#fbce74));
  background: -webkit-linear-gradient(top, #f6bb45, #fbce74);
  background: -moz-linear-gradient(top, #f6bb45, #fbce74);
  background: -ms-linear-gradient(top, #f6bb45, #fbce74);
  background: -o-linear-gradient(top, #f6bb45, #fbce74);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer__socials-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer__socials-icon [class^="icon_"],
.footer__socials-icon [class*=" icon_"] {
  margin: auto;
}
@media (max-width: 1023px) {
  .footer__nav-row {
    padding: 25px 0 10px;
    margin: 0 0 30px;
  }
  .footer__menu-link {
    font-size: 14px;
  }
  .footer__phone {
    margin: 5px 15px 5px 0;
  }
  .footer__phone-item {
    font-size: 15px;
  }
  .footer__details {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .footer__nav-row {
    padding: 20px 0 10px;
    margin: 0 0 20px;
  }
  .footer__menu {
    margin: 0 0 20px;
  }
  .footer__details {
    margin: 0 0 10px;
  }
  .footer__phone-block {
    margin: 10px -13px;
  }
  .footer__details {
    font-size: 13px;
  }
}
@media (max-width: 567px) {
  .footer__nav-row {
    padding: 15px 0 20px;
    margin: 0 0 15px;
  }
  .footer__phone-block {
    margin: 0 -13px 10px;
  }
  .footer__title {
    margin: 5px 0 10px;
  }
  #footer,
  .footer__vidjet,
  .footer__phone-block {
    text-align: center;
  }
  .footer__vidjet {
    margin: 0;
  }
  .footer__details {
    font-size: 12px;
  }
}
[class^="icon_"],
[class*=" icon_"] {
  background-image: url('images/spritesheet.png');
  background-repeat: no-repeat;
  display: inline-block;
}
.icon_carret_bottom_sm {
  background-position: -3px -3px;
  width: 7px;
  height: 4px;
}
.icon_carret_down {
  background-position: -16px -3px;
  width: 9px;
  height: 5px;
}
.icon_carret_left {
  background-position: -31px -3px;
  width: 5px;
  height: 9px;
}
.icon_carret_right {
  background-position: -42px -3px;
  width: 5px;
  height: 9px;
}
.icon_carret_right_sm {
  background-position: -53px -3px;
  width: 4px;
  height: 7px;
}
.icon_carret_up {
  background-position: -63px -3px;
  width: 9px;
  height: 5px;
}
.icon_cart {
  background-position: -78px -3px;
  width: 25px;
  height: 22px;
}
.icon_check {
  background-position: -109px -3px;
  width: 8px;
  height: 8px;
}
.icon_close {
  background-position: -123px -3px;
  width: 12px;
  height: 12px;
}
.icon_compare {
  background-position: -3px -21px;
  width: 24px;
  height: 20px;
}
.icon_fb {
  background-position: -33px -21px;
  width: 9px;
  height: 16px;
}
.icon_google {
  background-position: -48px -21px;
  width: 22px;
  height: 14px;
}
.icon_graph {
  background-position: -109px -21px;
  width: 21px;
  height: 21px;
}
.icon_jivosite {
  background-position: -3px -48px;
  width: 91px;
  height: 28px;
}
.icon_mark {
  background-position: -136px -21px;
  width: 9px;
  height: 7px;
}
.icon_mastercard {
  background-position: -100px -48px;
  width: 48px;
  height: 32px;
}
.icon_ok {
  background-position: -3px -86px;
  width: 11px;
  height: 20px;
}
.icon_qiwi {
  background-position: -20px -86px;
  width: 48px;
  height: 32px;
}
.icon_search {
  background-position: -74px -86px;
  width: 14px;
  height: 14px;
}
.icon_slider_arrow_left {
  background-position: -94px -86px;
  width: 9px;
  height: 15px;
}
.icon_slider_arrow_right {
  background-position: -109px -86px;
  width: 9px;
  height: 15px;
}
.icon_truck {
  background-position: -74px -107px;
  width: 27px;
  height: 19px;
}
.icon_visa {
  background-position: -151px -3px;
  width: 48px;
  height: 32px;
}
.icon_vk {
  background-position: -154px -41px;
  width: 20px;
  height: 11px;
}
.icon_wallet {
  background-position: -180px -41px;
  width: 19px;
  height: 19px;
}
.icon_webmoney {
  background-position: -154px -66px;
  width: 48px;
  height: 32px;
}
.icon_yandex {
  background-position: -124px -104px;
  width: 48px;
  height: 32px;
}
.icon_youtube {
  background-position: -178px -104px;
  width: 22px;
  height: 21px;
}
.btn {
  display: inline-block;
  color: #343434;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #f5b32e;
  outline: 0;
  position: relative;
  z-index: 10;
  padding: 12px 17px;
  line-height: 1;
  overflow: hidden;
  -webkit-text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.btn:hover:before {
  opacity: 0;
  filter: alpha(opacity=0);
}
.btn:before,
.btn:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #fbce74;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbce74), to(#f6bb45));
  background: -webkit-linear-gradient(top, #fbce74, #f6bb45);
  background: -moz-linear-gradient(top, #fbce74, #f6bb45);
  background: -ms-linear-gradient(top, #fbce74, #f6bb45);
  background: -o-linear-gradient(top, #fbce74, #f6bb45);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.btn:after {
  z-index: -2;
  background-color: #f6bb45;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6bb45), to(#fbce74));
  background: -webkit-linear-gradient(top, #f6bb45, #fbce74);
  background: -moz-linear-gradient(top, #f6bb45, #fbce74);
  background: -ms-linear-gradient(top, #f6bb45, #fbce74);
  background: -o-linear-gradient(top, #f6bb45, #fbce74);
}
.btn_lg {
  font-size: 14px;
  padding: 17px 39px;
}
@media (max-width: 1023px) {
  .btn_lg {
    padding: 13px 25px;
  }
}
.basic-form .input-row {
  display: block;
  margin: 0 0 15px;
}
.basic-form label {
  display: block;
  font-size: 15px;
}
.basic-form label.required .label-text:after {
  content: '*';
  color: #ff2d2d;
  display: inline-block;
  margin: 0 3px;
}
.basic-form input[type='text'],
.basic-form input[type='password'],
.basic-form input[type='search'],
.basic-form textarea {
  display: block;
  width: 100%;
  background: #f7f7f7;
  color: #343434;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  border: 1px solid #e5e5e5;
  padding: 10px 17px;
  font-size: 13px;
  resize: none;
}
.basic-form input[type='text']::-moz-placeholder,
.basic-form input[type='password']::-moz-placeholder,
.basic-form input[type='search']::-moz-placeholder,
.basic-form textarea::-moz-placeholder {
  color: #808080;
  opacity: 1;
}
.basic-form input[type='text']:-ms-input-placeholder,
.basic-form input[type='password']:-ms-input-placeholder,
.basic-form input[type='search']:-ms-input-placeholder,
.basic-form textarea:-ms-input-placeholder {
  color: #808080;
}
.basic-form input[type='text']::-webkit-input-placeholder,
.basic-form input[type='password']::-webkit-input-placeholder,
.basic-form input[type='search']::-webkit-input-placeholder,
.basic-form textarea::-webkit-input-placeholder {
  color: #808080;
}
.jq-checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #f7f7f7;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #e5e5e5;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.jq-checkbox.checked {
  background: url("images/icons/check.png") no-repeat center;
}
@media (max-width: 767px) {
  .basic-form .input-row {
    margin: 0 0 10px;
  }
  .basic-form label {
    font-size: 14px;
  }
}
.main-nav {
  display: block;
  background: #808080;
  text-align: center;
  color: #fff;
}
.main-nav .pure-g {
  margin: 0;
}
.main-nav__col {
  position: relative;
}
.main-nav__col:after,
.main-nav__col:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  height: 100%;
  width: 0;
  border-right: 1px solid #737373;
  border-left: 1px solid #989898;
}
.main-nav__col:after {
  left: auto;
  right: -1px;
  display: none;
}
.main-nav__col:last-child:after {
  display: block;
}
.main-nav__catalog {
  display: inline-block;
  max-width: 100%;
  padding: 12px 13px 12px 0;
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.main-nav__catalog:hover {
  color: #fbce73;
}
.main-nav__catalog:hover .main-nav__catalog-btn span {
  background: #fbce73;
}
.main-nav__catalog-btn {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  margin: 1px 13px 0 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.main-nav__catalog-btn:hover span {
  background: #fbce73;
}
.main-nav__catalog-btn.active span {
  margin-top: 0;
}
.main-nav__catalog-btn.active span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 2px;
}
.main-nav__catalog-btn.active span:nth-child(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}
.main-nav__catalog-btn.active span:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: -4px 0 0;
}
.main-nav__catalog-btn span {
  display: block;
  width: 24px;
  height: 2px;
  background: #fff;
  margin: 5px 0 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.main-nav__catalog-btn span:first-child {
  margin: 0;
}
.main-nav__catalog-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.main-nav__menu {
  display: inline-block;
  max-width: 100%;
  padding: 9px 0;
  margin: 0 -23px 0 -46px;
}
.main-nav__menu-item {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: 0 9px;
}
.main-nav__menu-link {
  display: block;
  padding: 5px 13px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.main-nav__menu-link:hover {
  color: #fbce73;
}
.main-nav__search {
  display: block;
  padding: 10px 11px;
  position: relative;
}
.main-nav__search-input {
  display: block;
  width: 100%;
  background: #989898;
  border: 0;
  outline: 0;
  padding: 7px 5px 7px 33px;
  color: #fff;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-nav__search-input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.main-nav__search-input:-ms-input-placeholder {
  color: #fff;
}
.main-nav__search-input::-webkit-input-placeholder {
  color: #fff;
}
.main-nav__search-btn {
  display: block;
  position: absolute;
  top: 50%;
  left: 23px;
  margin: -7px 0 0;
}
@media (max-width: 1023px) {
  .main-nav__col:after {
    display: block;
  }
  .main-nav__menu-item {
    margin: 0;
  }
  .main-nav__catalog,
  .main-nav__menu {
    padding: 5px 0;
    margin: 0;
  }
  .main-nav__search {
    padding: 5px 10px;
    margin: 0 0 5px;
  }
}
@media (max-width: 767px) {
  .main-nav__menu-link {
    padding: 5px;
  }
}
.promo {
  display: block;
  color: #fff;
  background: url('images/bg-1.jpg') no-repeat center;
  background-size: cover;
  padding: 29px 0 41px;
  text-align: center;
}
.promo__title {
  padding: 0 25px;
  font-weight: 700;
  margin: 46px 0 22px;
}
.promo__sub-title {
  display: block;
  font-size: 24px;
  margin: 0 0 31px;
}
.promo__btn {
  margin: 0 0 47px;
  padding: 22px 49px;
  font-size: 15px;
}
.promo__row {
  padding: 20px 0 0;
  margin: 0 -11px;
}
.promo__row:before,
.promo__row:after {
  content: " ";
  display: table;
}
.promo__row:after {
  clear: both;
}
.promo__row:before,
.promo__row:after {
  content: " ";
  display: table;
}
.promo__row:after {
  clear: both;
}
.promo__item {
  display: block;
  float: left;
  width: 33.3%;
  padding: 20px 23px;
  position: relative;
}
.promo__item:last-child:after {
  display: none;
}
.promo__item:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  width: 1px;
  background: rgba(237, 237, 238, 0.3);
  -webkit-transform: rotate(-19deg);
  -ms-transform: rotate(-19deg);
  -o-transform: rotate(-19deg);
  transform: rotate(-19deg);
}
.promo__item-title {
  display: block;
  font-size: 36px;
  color: #fac969;
  font-weight: 700;
  line-height: 1;
  min-height: 59px;
}
.promo__item-text {
  display: block;
  font-size: 18px;
}
@media (max-width: 1023px) {
  .promo {
    padding: 15px 0;
  }
  .promo__sub-title {
    font-size: 20px;
  }
  .promo__btn {
    margin: 0 0 15px;
    padding: 15px 30px;
  }
  .promo__item-title {
    font-size: 25px;
    min-height: 0;
    margin: 0 0 10px;
  }
  .promo__item-text {
    font-size: 14px;
  }
  .promo__item-text br {
    display: none;
  }
  .promo__title {
    margin: 30px 0 15px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .promo__sub-title {
    font-size: 18px;
  }
  .promo__item {
    width: 100%;
  }
  .promo__item:after {
    display: none;
  }
  .promo__row {
    padding: 0;
  }
}
@media (max-width: 567px) {
  .promo__sub-title {
    font-size: 16px;
  }
}
.catalog {
  padding-bottom: 20px;
}
.catalog__list {
  display: block;
  margin: 0 0 38px;
}
.catalog__list [class*="pure-u"] {
  margin-bottom: 22px;
}
.catalog-item {
  display: block;
  height: 100%;
  border: 1px solid #e5e5e5;
  padding: 4px;
  position: relative;
  text-decoration: none;
  color: inherit;
  text-align: center;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.catalog-item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.catalog-item__sticker {
  display: block;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 13px;
  background: #ff2d2d;
  color: #fff;
  font-size: 13px;
  max-width: 40%;
  padding: 5px 10px;
  line-height: 1.1;
  text-transform: uppercase;
}
.catalog-item__img {
  display: block;
  height: 160px;
  margin: 0 0 13px;
  overflow: hidden;
}
.catalog-item__img img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.catalog-item__title {
  display: block;
  height: 100px;
  overflow: hidden;
  margin: 0 0 13px;
  line-height: 1.6;
}
.catalog-item__name {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 9px;
}
.catalog-item__details {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}
.catalog-item__price-row {
  display: block;
  text-align: center;
  margin: 0 0 13px;
  /*font-family: 'HelveticaNeueCyr';*/
}
.catalog-item__price-row sub,
.catalog-item__price-row sup {
  font-size: 60%;
}
.catalog-item__price-row .rub {
  margin: 0 -4px;
}
.catalog-item__price {
  display: inline-block;
  vertical-align: bottom;
  font-size: 18px;
  font-weight: 700;
  color: #ff2d2d;
  margin: 0 8px 0 0;
}
.catalog-item__old-price {
  display: inline-block;
  vertical-align: bottom;
  font-size: 15px;
  font-weight: 400;
  color: #808080;
  text-decoration: line-through;
  line-height: 1.7;
}
.catalog-item__catr-btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 13px;
}
.catalog-item__buy-btn {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  text-decoration: none;
  font-size: 15px;
  border-bottom: 1px dashed #343434;
  margin: 0 0 13px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.catalog-item__buy-btn:hover {
  border-color: transparent;
}
.catalog__btn {
  margin: 0 0 34px;
  padding: 22px 48px;
  font-size: 15px;
}
.catalog__page-title:before,
.catalog__page-title:after {
  content: " ";
  display: table;
}
.catalog__page-title:after {
  clear: both;
}
.catalog__page-title:before,
.catalog__page-title:after {
  content: " ";
  display: table;
}
.catalog__page-title:after {
  clear: both;
}
.catalog__page-title h2,
.catalog__page-title .h2 {
  margin-top: 0;
}
.catalog__text {
  font-size: 16px;
  line-height: 1.9;
  margin: -8px 0 20px;
}
.catalog__text p {
  margin: 0 0 15px;
}
.catalog__sort {
  display: block;
  font-size: 15px;
  padding: 12px 0;
  margin-left: 15px;
}
.catalog__sort .jq-selectbox {
  font-size: 13px;
  cursor: pointer;
  margin: 0 0 0 4px;
}
.catalog__sort .jq-selectbox.opened .jq-selectbox__trigger-arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.catalog__sort .jq-selectbox__select {
  display: inline-block;
  vertical-align: middle;
  width: 223px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  color: #808080;
  padding: 5px 20px 5px 10px;
}
.catalog__sort .jq-selectbox__trigger-arrow {
  display: block;
  position: absolute;
  top: 50%;
  right: 7px;
  z-index: 10;
  width: 7px;
  height: 4px;
  margin: -2px 0 0 0;
  background: url('images//icons/carret_bottom_sm.png') no-repeat center;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.catalog__sort .jq-selectbox__dropdown {
  display: block;
  background: #f7f7f7;
  min-width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}
.catalog__sort .jq-selectbox__dropdown ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog__sort .jq-selectbox__dropdown li {
  display: block;
  padding: 3px 5px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.catalog__sort .jq-selectbox__dropdown li:hover {
  background: #fff;
}
.catalog__btn-row {
  text-align: center;
  padding: 6px 0 0;
  margin: 0 0 -10px;
}
.catalog__tab-btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  font-size: 18px;
  margin: 0 26px 10px;
  text-decoration: none;
  line-height: 1.3;
  color: #343434;
  border-bottom: 1px dashed #343434;
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.catalog__tab-btn:hover {
  border-color: transparent;
}
.catalog__tab-btn.active {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #f5b32e;
  padding: 13px 18px;
  line-height: 1;
  -webkit-text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  background-color: #fbce74;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbce74), to(#f6bb45));
  background: -webkit-linear-gradient(top, #fbce74, #f6bb45);
  background: -moz-linear-gradient(top, #fbce74, #f6bb45);
  background: -ms-linear-gradient(top, #fbce74, #f6bb45);
  background: -o-linear-gradient(top, #fbce74, #f6bb45);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
.catalog-filter {
  display: block;
  background: #fff;
  border: 1px solid #e5e5e5;
  margin: 0 0 26px;
}
.catalog-filter__title {
  display: block;
  background: #f7f7f7;
  padding: 11px 13px;
  font-size: 18px;
  font-weight: 400;
}
.catalog-filter__row {
  display: block;
  border-top: 1px solid #e5e5e5;
  padding: 14px 13px 12px;
}
.catalog-filter__btn {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  padding: 0 20px 0 0;
}
.catalog-filter__btn:after {
  content: '';
  position: absolute;
  top: 9px;
  right: 1px;
  width: 9px;
  height: 5px;
  background: url('images/icons/carret_down.png') no-repeat center;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.catalog-filter__btn.active:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.catalog-filter__content {
  display: none;
  padding: 10px 0 14px;
}
.catalog-filter__content .input-row {
  display: block;
  margin: 0 0 8px;
}
.catalog-filter__content .input-row:last-child {
  margin: 0 0 -11px;
}
.catalog-filter__content label {
  display: block;
  padding-left: 23px;
  color: #343434;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.catalog-filter__content .jq-checkbox {
  display: inline-block;
  float: left;
  margin: 5px 10px 0 -23px;
}
.catalog-filter__content .product-color {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: -2px 3px 0 0;
}
.catalog-filter__content .product-qty {
  color: #808080;
}
.catalog__price-range-amount {
  display: block;
  margin: 7px -5px 15px;
}
.catalog__price-range-amount:before,
.catalog__price-range-amount:after {
  content: " ";
  display: table;
}
.catalog__price-range-amount:after {
  clear: both;
}
.catalog__price-range-amount:before,
.catalog__price-range-amount:after {
  content: " ";
  display: table;
}
.catalog__price-range-amount:after {
  clear: both;
}
.catalog__price-range-amount .amount-min,
.catalog__price-range-amount .amount-max {
  display: block;
  float: left;
  width: 50%;
  padding: 0 5px;
  position: relative;
}
.catalog__price-range-amount input[type="text"] {
  display: block;
  width: 100%;
  background: #f7f7f7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  padding: 5px 10px 5px 30px;
  height: 28px;
  color: #343434;
  font-size: 14px;
  outline: 0;
}
.catalog__price-range-amount label {
  display: block;
  padding: 0;
}
.catalog__price-range-amount .label-text {
  display: block;
  position: absolute;
  top: 7px;
  left: 16px;
  font-size: 13px;
  color: #808080;
  z-index: 10;
  line-height: 1;
}
#catalog__price-range {
  display: block;
  height: 4px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
}
#catalog__price-range .ui-slider-range {
  display: block;
  position: absolute;
  background: #fbce73;
  height: 4px;
  top: -1px;
}
#catalog__price-range .ui-slider-handle {
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  margin-top: -7px;
  outline: 0;
  cursor: pointer;
}
.articles-list {
  display: block;
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
}
.articles-list__link {
  display: block;
  text-decoration: underline;
  color: inherit;
  font-size: 15px;
  padding: 4px 1px 6px;
}
.articles-list__link:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  width: 9px;
  height: 7px;
  background: url('images/icons/mark.png') no-repeat center;
}
.articles-list__link:hover {
  text-decoration: none;
}
.catalog-slider {
  display: block;
  padding: 0;
  margin: 0 0 20px;
}
.catalog-slider .slick-list {
  margin: 0 -10px;
}
.catalog-slider .slick-arrow {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 40px;
  z-index: 10;
}
.catalog-slider .slick-arrow span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -8px;
}
.catalog-slider .slick-prev {
  left: -40px;
}
.catalog-slider .slick-next {
  right: -40px;
}
.catalog-slider__item {
  padding: 0 10px;
}
@media (max-width: 1023px) {
  .catalog__list {
    margin: 0 0 30px;
  }
  .catalog__btn {
    margin: 0 0 20px;
    padding: 17px 35px;
    font-size: 14px;
  }
  .catalog__text {
    font-size: 15px;
  }
  .catalog__price-range-amount input[type="text"] {
    font-size: 14px;
  }
  .catalog__sort {
    padding: 8px 0;
  }
  .catalog__tab-btn {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .catalog__list {
    margin: 0 0 20px;
  }
  .catalog__text,
  .articles-list__link {
    font-size: 14px;
  }
  .catalog__price-range-amount input[type="text"] {
    font-size: 13px;
  }
  .catalog__sort {
    padding: 4px 0;
  }
  .catalog__sort .jq-selectbox {
    margin-left: 0;
  }
  .catalog__tab-btn {
    font-size: 16px;
    margin: 0 10px 10px;
  }
  .catalog__tab-btn.active {
    padding: 10px 14px;
  }
}
@media (max-width: 567px) {
  .catalog-item__title {
    height: auto;
  }
  .catalog__price-range-amount input[type="text"] {
    font-size: 12px;
  }
  .catalog__sort {
    padding: 10px 0;
    margin-left: 0;
  }
  .catalog__tab-btn {
    font-size: 14px;
  }
  .catalog__tab-btn.active {
    padding: 10px 14px;
  }
}
.tab-item,
.inner-tab-item {
  display: none;
}
.tab-item.active,
.inner-tab-item.active {
  display: block;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about {
  display: block;
  border-top: 1px solid #e5e5e5;
  padding: 12px 0 6px;
}
.about__term {
  display: block;
  text-align: center;
  margin: -7px -20px 32px;
}
.about__term-item,
.about__term-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  font-size: 30px;
  color: #808080;
  text-align: left;
  line-height: 1.3;
}
.about__term-item {
  font-size: 100px;
  font-weight: 700;
  color: #fbce73;
  line-height: 1;
  margin: 0 23px 21px;
}
.about__tab-btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  font-size: 18px;
  margin: 0 21px 10px;
  text-decoration: none;
  line-height: 1.3;
  color: #343434;
  border-bottom: 1px dashed #343434;
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.about__tab-btn:hover {
  border-color: transparent;
}
.about__tab-btn.active {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #f5b32e;
  padding: 13px 18px;
  line-height: 1;
  -webkit-text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  background-color: #fbce74;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbce74), to(#f6bb45));
  background: -webkit-linear-gradient(top, #fbce74, #f6bb45);
  background: -moz-linear-gradient(top, #fbce74, #f6bb45);
  background: -ms-linear-gradient(top, #fbce74, #f6bb45);
  background: -o-linear-gradient(top, #fbce74, #f6bb45);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
.about__tab-btn-wrap {
  display: block;
  margin: 0 0 20px -17px;
  text-align: center;
}
.about__tab-block {
  font-size: 16px;
  line-height: 1.9;
}
.about__tab-block p {
  margin: 0 0 15px;
  padding: 0;
}
.about__tab-block h3,
.about__tab-block .h3 {
  font-weight: 700;
}
.about__tab-block .tab-item {
  padding: 20px 0;
}
.about__list {
  padding: 0;
  margin: 0 0 11px;
  list-style: none;
}
.about__list li {
  display: block;
  padding: 0 0 0 14px;
  position: relative;
}
.about__list li:before {
  content: '';
  width: 7px;
  height: 7px;
  background: #fbce73;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 12px;
  left: 0;
}
@media (max-width: 1023px) {
  .about__term-item {
    font-size: 80px;
    margin: 0 15px 10px;
  }
  .about__term-text {
    font-size: 23px;
  }
  .about__tab-block {
    font-size: 15px;
  }
  .about__tab-btn {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .about__term-item {
    font-size: 60px;
    margin: 0 5px 8px;
  }
  .about__term-text {
    font-size: 18px;
    margin: 0 5px;
  }
  .about__tab-block {
    font-size: 14px;
  }
  .about__tab-btn {
    font-size: 16px;
    margin: 0 10px 10px;
  }
  .about__tab-btn.active {
    padding: 10px 14px;
  }
}
@media (max-width: 567px) {
  .about__term-text {
    font-size: 21px;
    text-align: center;
    display: block;
  }
  .about__tab-btn {
    font-size: 15px;
    margin: 0 7px 7px;
  }
  .about__tab-btn.active {
    padding: 10px 14px;
  }
}
.modal {
  display: none;
  max-width: 80%;
  max-height: 70%;
  background: #fff;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  padding: 40px 70px;
}
.modal.active {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.modal__title {
  display: block;
  padding: 0;
  font-size: 30px;
  position: relative;
  text-align: center;
  margin: 0 0 20px;
}
.modal__close {
  display: block;
  position: absolute;
  top: 10px;
  right: 11px;
  z-index: 100;
}
.modal__form {
  width: 340px;
}
.modal__submit {
  min-width: 210px;
  padding: 17px 0;
  font-size: 14px;
}
@media (max-width: 767px) {
  .modal__form {
    width: auto;
  }
  .modal {
    padding: 25px;
  }
  .modal__title {
    font-size: 25px;
    line-height: 1;
  }
}
@media (max-width: 567px) {
  .modal__title {
    font-size: 20px;
  }
  .modal__close {
    top: 10px;
    right: 10px;
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.breadrumbs {
  display: block;
  padding: 0;
  margin: 14px 0 15px;
  list-style: none;
}
.breadrumbs:before,
.breadrumbs:after {
  content: " ";
  display: table;
}
.breadrumbs:after {
  clear: both;
}
.breadrumbs:before,
.breadrumbs:after {
  content: " ";
  display: table;
}
.breadrumbs:after {
  clear: both;
}
.breadrumbs__item {
  display: inline-block;
  vertical-align: top;
  color: inherit;
  font-size: 15px;
}
.breadrumbs__link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding-right: 16px;
  position: relative;
}
.breadrumbs__link:after {
  content: '';
  display: block;
  width: 4px;
  height: 7px;
  position: absolute;
  right: 4px;
  top: 9px;
  background: url('images/icons/carret_right_sm.png') no-repeat center;
}
.breadrumbs__link:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .breadrumbs__item {
    font-size: 14px;
  }
}
.product-slider {
  display: block;
  margin-bottom: 13px;
}
.product-slider__item {
  display: block;
}
.product-slider__item img {
  display: block;
  width: 100%;
}
.product-slider-nav {
  display: block;
  margin-bottom: 38px;
  padding: 0 30px 0 28px;
}
.product-slider-nav .slick-arrow {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 28px;
  text-align: center;
  z-index: 10;
}
.product-slider-nav .slick-arrow span {
  position: absolute;
  top: 50%;
  margin: -7.5px 0 0;
}
.product-slider-nav .slick-prev {
  left: 0;
}
.product-slider-nav .slick-next {
  right: 11px;
}
.product-slider-nav__item {
  display: block;
  height: 64px;
  padding: 0 7px;
  text-align: center;
  cursor: pointer;
}
.product-slider-nav__item.slick-current .product-slider-nav__inner {
  border: 2px solid #fbce73;
}
.product-slider-nav__inner {
  display: block;
  border: 2px solid #fff;
  overflow: hidden;
  height: 100%;
  position: relative;
}
.product-slider-nav__inner img {
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 250%;
  max-height: 250%;
}
.product-purchase {
  text-align: center;
  padding: 30px 8px 21px 0px;
  margin: 0 0 24px;
  background: #f7f7f7;
}
.product-purchase .catalog-item__price-row {
  display: inline-block;
}
.product-purchase .catalog-item__price {
  margin: 0 2px 0 0;
}
.product-details {
  display: block;
  float: left;
  margin: 0 97px 15px 2px;
}
.product-details__item,
.product-details__all-link {
  display: block;
  font-size: 15px;
  margin: 0 0 8px;
}
.product-details__all-link {
  display: inline-block;
  color: #2d78b8;
  text-decoration: none;
  border-bottom: 1px dashed #2d78b8;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.product-details__all-link:hover {
  border-color: transparent;
}
.product-links {
  display: block;
  float: left;
  margin: 0 0 15px;
}
.product-links__item {
  display: block;
  margin: 0 0 14px 40px;
  color: #343434;
  text-decoration: none;
  font-size: 15px;
  position: relative;
}
.product-links__item:hover .product-links__text {
  border-color: transparent;
}
.product-links__icon {
  display: block;
  position: absolute;
  left: -43px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  padding: 10px 0 0;
}
.product-links__text {
  display: inline-block;
  line-height: 1.3;
  border-bottom: 1px dashed #343434;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.product-about {
  margin: 0 0 30px;
}
.product-about__tab-item {
  position: relative;
  z-index: 0;
  padding: 28px 30px 13px;
  font-size: 16px;
  line-height: 1.9;
  border: 1px solid #e5e5e5;
}
.product-about__tab-item p {
  margin: 0 0 15px;
}
.product__tab-btn-row {
  position: relative;
  z-index: 10;
  margin-bottom: -1px;
}
.product__tab-btn {
  display: inline-block;
  vertical-align: bottom;
  padding: 10px 24px;
  font-size: 15px;
  color: #808080;
  text-decoration: none;
  margin-right: 2px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.product__tab-btn:hover {
  background: #fff;
}
.product__tab-btn.active {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: #343434;
  font-weight: 700;
  padding: 10px 29px;
}
@media (max-width: 1023px) {
  .product-purchase {
    padding: 20px 10px;
  }
  .product__tab-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
  .product__tab-btn.active {
    padding: 10px 20px;
  }
  .product-about__tab-item {
    padding: 20px;
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .product__tab-btn {
    padding: 10px 15px;
    font-size: 14px;
  }
  .product__tab-btn.active {
    padding: 10px 15px;
  }
  .product-about__tab-item {
    padding: 15px;
    font-size: 14px;
  }
}
@media (max-width: 567px) {
  .product__tab-btn {
    padding: 5px;
    font-size: 13px;
    margin: 0;
  }
  .product__tab-btn.active {
    padding: 5px;
  }
}
.pagination {
  display: block;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding: 10px 0;
  margin: 8px 0 41px;
  text-align: center;
}
.pagination__list {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
}
.pagination__item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
}
.pagination__link {
  display: block;
  padding: 5px;
  color: #343434;
  font-size: 15px;
  text-decoration: underline;
}
.pagination__link:hover {
  text-decoration: none;
}
.pagination__link.active {
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 1023px) {
  .pagination__link {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .pagination {
    margin: 10px 0 30px;
  }
}
@media (max-width: 567px) {
  .pagination__link {
    font-size: 13px;
  }
}
.basket__container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #343434;
}
.basket__container a {
  text-decoration: none;
  color: inherit;
}
.basket__products {
  width: 100%;
}
.basket__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  padding: 3px 3px 0 3px;
}
.basket__item:nth-last-child(1) {
  border-bottom: 1px solid #e5e5e5;
}
.basket__item-img img {
  height: 100%;
}
.basket__item-info {
  margin-left: 20px;
  margin-right: auto;
}
.basket__item-title {
  font-weight: 600;
  color: #343434;
  font-size: 15px;
}
.basket__item-description {
  color: #808080;
}
.basket__item-amount {
  margin: 0 25px;
}
.basket__item-amount {
  display: flex;
  align-items: center;
}
.item-amount__text {
  width: 70px;
  height: 35px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-amount__text::after {
  content: 'шт.';
  margin-left: 4px;
}
.item-amount__minus,
.item-amount__plus {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  transition: box-shadow 0.5s;
}
.item-amount__minus:active,
.item-amount__plus:active {
  box-shadow: 0px 0px 3px 0px #000000 inset;
}
.basket__item-badge {
  margin: 0 3px;
  font-size: 18px;
}
.basket__item-area-once {
  font-size: 18px;
  margin: 0 25px;
}
.basket__item-area-total {
  font-size: 18px;
  color: #ff2d2d;
  margin: 0 25px;
}
.basket__item-delete {
  padding: 5px 5px 3px;
  margin-right: 18px;
  transition: box-shadow 0.5s;
}
.basket__item-delete:active {
  box-shadow: 0px 0px 3px 0px #000000 inset;
}
.basket__footer {
  margin-top: 30px;
}
.basket__footer-top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.area__total,
.basket__item-badge {
  font-weight: 600;
}
.result-price__container {
  display: flex;
  align-items: center;
}
.result-price__container .area__total {
  font-size: 18px;
  color: #ff2d2d;
}
.result-price__container .basket__item-badge {
  color: #ff2d2d;
}
.result-price__text {
  margin-right: 4px;
}
.basket__footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.btn-left {
  height: 23px;
  color: #5d5d5d;
  border-bottom: dashed 1px #5d5d5d;
}
.btn-right {
  height: 35px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #f5b32e;
  border-radius: 6px;
  background-image: -moz-linear-gradient(90deg, #f6bb45 1%, #fbce74 100%);
  background-image: -webkit-linear-gradient(90deg, #f6bb45 1%, #fbce74 100%);
  background-image: -ms-linear-gradient(90deg, #f6bb45 1%, #fbce74 100%);
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
  font-size: 13px;
  text-transform: uppercase;
  color: #343434;
  transition: background-image 0.4s;
}
.btn-right:hover {
  background-image: -moz-linear-gradient(90deg, #fbce74 100%, #f6bb45 1%);
  background-image: -webkit-linear-gradient(90deg, #fbce74 100%, #f6bb45 1%);
  background-image: -ms-linear-gradient(90deg, #fbce74 100%, #f6bb45 1%);
}
@media screen and (max-width: 750px) {
  .basket__item-info {
    order: -1;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .basket__item-amount,
  .basket__item-area-once,
  .basket__item-area-total {
    margin: 0 10px;
  }
  .basket__item {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 610px) {
  .basket__item-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
}
@media screen and (max-width: 480px) {
  .basket__item-amount {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .basket__footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 20px;
    height: 88px;
  }
}
#main {
  min-height: 100%;
  overflow: hidden;
}
#overlay {
  display: none;
  position: fixed;
  z-index: 990;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
