html {
    font-size: 14px;
}

body {
    background: #eee;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    outline: none;
    border: none;
    background: none;
}

@font-face {
    font-family: 'KhandLight';
    src: url('../fonts/Khand-Light.ttf');
}

@font-face {
    font-family: 'KhandMedium';
    src: url('../fonts/Khand-Medium.ttf');
}

.canvas-animation {
    background:url(../img/bg1.jpg) center center no-repeat;
    background-size:cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
}

.main-header {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-header__title, .main-header__desc {
    text-align: center;
}

.main-header__title {
    font-family: KhandMedium, sans-serif;
    font-weight: 500;
    font-size: 5.7rem;
    text-transform: uppercase;
}

.main-header__desc {
    font-family: KhandLight, sans-serif;
    font-weight: 300;
    font-size: 2.038rem;
    line-height: 1.1;
}

.products {
    position: relative;
    width: 100%;
    height: 100%;
}

.product {
    position: absolute;
    width: 15%;
}

.product__wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 135%;
}

.product__container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dev {
    background-color: rgba(255, 255, 255, .5);
}

.open-popup-container {
    position: relative;
}

.open-popup-container:before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: #ce9500;
}

.btn_open-popup {
    position: absolute;
    background-color: #ce9500;
    border-radius: 50%;
    padding-bottom: 10px;
    width: 108px;
    height: 108px;
    padding-left: 29px;
    transition: all .5s;
    cursor: pointer;
}

.btn_open-popup:hover {
    background-color: #9c6900;
    transform: scale(1.1);
}

.btn_open-popup:hover::before,
.btn_open-popup:hover::after {
    background-color: #e8e8e8;
}

.btn_open-popup::after,
.btn_open-popup::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #fff;
    width: 31px;
    height: 8px;
    margin: 0 9px;
    transition: all .4s;
}

.btn_open-popup::after {
    transform: rotate(90deg);
}

.product__title {
    position: absolute;
    font-family: 'Amatic SC', cursive;
    font-size: 3.75rem;
    text-transform: uppercase;
    color: white;
}

.popup-desc {
    position: absolute;
    background-color: #ce9600;
    color: #fff;
    top: 20%;
    left: 20%;
    width: 340px;
    padding: 25px 30px 40px 30px;
    box-sizing: content-box;
    animation: open .5s;
}

.animation-open {
    animation: open .5s;
}

.animation-close {
    animation: close .5s;
}

@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.popup-desc__title {
    font-family: 'Amatic SC', cursive;
    font-size: 3.75rem;
    text-transform: uppercase;
}

.popup-desc__item {
    font-family: 'Khand', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.popup-desc__item::before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-top: 5px solid transparent;
    border-left: 7px solid white;
    border-bottom: 5px solid transparent;
    margin-right: 9px;
}

.popup-desc__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 60px solid #3c3c3b;
    border-left: 60px solid transparent;
    outline: none;
    background-color: #ce9600;
    cursor: pointer;
    transition: all .5s;
}

.popup-desc__close-btn:hover {
    border-top: 60px solid #292928;
}

.popup-desc__close-btn::before {
    content: '';
    position: absolute;
    top: -46px;
    left: -23px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("../img/close.png") 100% 100% no-repeat;
}

.hidden {
    display: none;
    opacity: 0;
}

.open-popup-container line {
    stroke: #ce9500;
    stroke-width: 4;
}

/* Glaces */
.glaces {
    margin-top: 13vh;
    margin-left: 25vw;
}

.glaces .product__title {
    bottom: 0;
    left: 20%;
}

.glaces .open-popup-container {
    height: 60%;
}

.glaces .btn_open-popup {
    right: 0;
    bottom: 0;
}

.glaces .open-popup-container:before {
    transform: rotate(90deg);
}

/* Sodas */
.sodas {
    margin-left: 65vw;
    margin-top: 10vh;
}

.sodas .open-popup-container {
    margin-top: 86%;
    height: 40%;
}

.sodas .open-popup-container:before {
    bottom: 0;
    right: 0;
    transform: rotate(253deg);
}

/* Produits laitiers */
.produits-laitiers {
    margin-top: 65vh;
    margin-left: 40vw;
    width: 47%;
}

.produits-laitiers .product__wrapper {
    padding-bottom: 40%;
}

.produits-laitiers .product__title {
    right: 0;
    bottom: 0;
}

.produits-laitiers .open-popup-container:before {
    right: 0;
    transform: rotate(198deg);
}

.produits-laitiers .open-popup-container {
    margin-top: 17%;
    width: 36%;
}

.produits-laitiers .btn_open-popup {
    bottom: 0;
}

/* Chocolats */
.chocolats {
    margin-top: 55%;
    width: 33%;
}

.chocolats .product__wrapper {
    padding-bottom: 42%;
}

.chocolats .product__title {
    right: 0;
    top: 0;
}

.chocolats .open-popup-container {
    width: 65%;
    height: 80%;
    margin-left: 20%;
}

.chocolats .btn_open-popup {
    bottom: 0;
    right: 12px;
}

.chocolats .open-popup-container:before {
    transform: rotate(80deg);
}

/* Biers */
.biers {
    margin-top: 98%;
    margin-left: 17vw;
}

.biers .product__title {
    bottom: 0;
    right: 0;
}

.biers .btn_open-popup {
    right: 0;
}

.biers .open-popup-container:before {
    transform: rotate(57deg);
}

/* Biscuits */
.biscuits {
    margin-top: 135%;
    right: 14%;
    width: 25%;
}

.biscuits .product__wrapper {
    padding-bottom: 60%;
}

.biscuits .product__title {
    bottom: 0;
}

.biscuits .open-popup-container {
    width: 60%;
    left: 35%;
    top: 16%;
}

.biscuits .open-popup-container:before {
    right: 0;
    transform: rotate(200deg);
}

.biscuits .btn_open-popup {
    bottom: 0;
}

/* Soupes and sauces */
.soupes-and-sauces {
    margin-top: 162%;
    width: 44%;
}

.soupes-and-sauces .product__wrapper {
    padding-bottom: 61%;
}

.soupes-and-sauces .product__title {
    right: 0;
    bottom: 0;
}

.soupes-and-sauces .open-popup-container {
    width: 32%;
    left: 27%;
    height: 40%;
}

.soupes-and-sauces .btn_open-popup {
    bottom: 0;
    right: 0;
}

.soupes-and-sauces .open-popup-container:before {
    transform: rotate(85deg);
}

/* Boissons energisantes */
.boissons-energisantes {
    margin-top: 183%;
    right: 0;
    width: 35%;
}

.boissons-energisantes .product__wrapper {
    padding-bottom: 60%;
}

.boissons-energisantes .product__title {
    bottom: 0;
}

.boissons-energisantes .open-popup-container {
    width: 40%;
    left: 45%;
}

.boissons-energisantes .btn_open-popup {
    right: 0;
    bottom: 0;
}

.boissons-energisantes .open-popup-container:before {
    transform: rotate(82deg);
}

@media screen and (max-width: 1700px){
    .biers .btn_open-popup {
        right: -38%;
        bottom: 16%;
    }

    .produits-laitiers .open-popup-container {
        width: 41%;
    }

    .boissons-energisantes .open-popup-container {
        width: 53%;
    }

    .biscuits .open-popup-container {
        width: 69%;
    }
}

@media screen and (max-width: 1200px) {
    .main-header__title {
        font-size: 4rem;
    }

    .main-header__desc {
        font-size: 1.4rem;
    }

    .glaces {
        margin-top: 7vh;
    }

    .chocolats .btn_open-popup {
        bottom: -39%;
        right: -34%;
    }

    .produits-laitiers {
        margin-top: 38vh;
        margin-left: 35vw;
        width: 60%;
    }

    .produits-laitiers .open-popup-container {
        width: 45%;
    }

    .biers .btn_open-popup {
        right: -88%;
        bottom: 16%;
    }

    .biscuits {
        width: 35%;
    }

    .soupes-and-sauces .open-popup-container {
        width: 47%;
        height: 57%;
    }

    .boissons-energisantes {
        right: 76px;
    }

    .boissons-energisantes .btn_open-popup {
        right: -36%;
        bottom: -13%;
    }
}

@media screen and (max-width: 960px) {
    .sodas {
        margin-top: 5vh;
    }

    .produits-laitiers {
        margin-top: 29vh;
    }

    .biers .btn_open-popup {
        right: -120%;
    }

    .biscuits .product__title {
        bottom: 64%;
    }

    .soupes-and-sauces {
        margin-top: 158%;
    }

    .boissons-energisantes {
        right: 4px;
    }

    .boissons-energisantes .btn_open-popup {
        left: 0;
        bottom: 0;
    }

    .boissons-energisantes .open-popup-container {
        width: 79%;
        left: 0;
    }

    .boissons-energisantes .open-popup-container:before {
        transform: rotate(191deg);
        right: 0;
    }

    .boissons-energisantes .product__title {
        top: 90%;
    }
}